html,body{
    height: 100%;
    margin: 0;
    padding: 0;

}
.pojemnik{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    width: 50%;
    height: 80%;
    margin: 20px auto 0;
}