body{
    background-color: white;
}
.pojemnik{
    display: flex;
    height: 50%;
    width: 75%;
}
.duzelewo{
    flex-direction: column;
    display: flex;
    flex: 100px;
}
.boksgora{
    flex: 100px;
    border: 1px solid black;
    line-height: 100px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.bokssrodek{
    flex: 200px;
    border: 1px solid black;
    line-height: 200px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.boksdol{
    flex: 100px;
    border: 1px solid black;
    line-height: 100px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.duzesrodek{
    flex: 100px;
    border: 1px solid black;
    line-height: 500px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.duzeprawo{
    flex: 200px;
    border: 1px solid black;
    line-height: 500px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;

}