body{
    background-color: blue;
}
.header{
    height: 20%;
    color: white;
    width: 100%;
    text-align: center;
    border: 5px solid white;
    font-style: italic;
}
h1{
    color: white;
}
h5{
    color: white;
}
.pojemnik{
    height: 70%;
    width: 100%;
}
.menu{
    text-align: left;
    width: 10%;
    border: 5px solid white;
    float: left;
}
.cialo{
    text-align: left;
    width: 89%;
    float: right;
}
.stopka{
    height: 10%;
    border: 2px solid white;
    width: 100%;
    text-align: center;
    font-size: 20px;
    clear: both;
}
p{
    color: white;
    text-align: center;
    font-size: 17px;
}
p.cialo{
    text-align: left;
    color: white;
}